body {
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

.hidden {
    display: none
}

.button {
    padding: 10px;
    background-color: #ddd;
    border: solid 1px #666;
    font-weight: bold;
}

.button:hover {
    background-color: #ddf;
}

#toolbar {
    text-align: center;
    margin-bottom: 15px;
}

#chat-area {
    
}

.chat-messages {
    height: 280px;
   
    overflow: auto;
}

#chat-area input {
    margin-top: 10px;
    width: 95%;
}

#roster-area {
   
  
}

.chat-name {
    color: #c33;
}

.chat-message .me {
    color: #33c;
}

.chat-event {
    font-style: italic;
    font-size: 75%;
}

.roster-contact {
    padding: 3px;
}

.roster-contact:hover {
    background-color: ;
    color: red;
    cursor:all-scroll;
}

.roster-name {
    font-size: 100%;
}

.online {
    color: white;
     font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size:16px;
}

.away {
    color: white;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size:16px;
}

.offline {
    color: white;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size:16px;
    
}
.circle {

    width:20px;
    height:20px;
    border-radius:250px;
    font-size:50px;
    color:#fff;
    line-height:500px;
    text-align:center;
    background:red

}


div.ui-menu li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}
ul
{
    /*list-style-type:none;
    padding:0px;*/
    margin:0px;
}
li
{
    /*background-image:url(sqpurple.gif);*/
    background-repeat:no-repeat;
    background-position:0px 5px; 
    padding-left:14px;
}

