.registration {
	padding:20px;
}

.registration h2 {
    color: #189cd9 !important;
    font-family: "Open Sans",sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 5px;
	text-align:left;
}
.registration ul.list-1{padding-left:0;}

ul.list-1 li {
    background: url("../images/blue-bullet.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);
    color: #494848;
    display: block;
    font-family: "PT Sans",sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
    padding-left: 12px;
}
